@font-face {
    font-family: doom;
    src: url(doomed.ttf);
  }

  @font-face {
    font-family: madness;
    src: url(monomadness.ttf);
  }


html{
    width: 100%;
    height: 100lvh;
    background: rgb(223, 248, 33);
    margin:0px;
    padding:0px;
    background-image: none;
    animation: none;
    overflow: hidden;
}

body{
    margin:0px;
    padding: 0px;
}
